.yui-skin-sam .yui-log {
    width: 60em;
    font-size: 1em;
}

#queryForm {
    text-align: center;
}

#tcmWidget {
    visibility:hidden;
}

/*#dbpediaHerbWidget {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right:2px;
    border:double 1px;
    padding: 1em;
    width: 400px;
    float:left;
}*/

table.herbResults {
    max-width: 400px;
}

table.herbResults td{
    max-width: 100px;
}

table.herbResults td{
    max-width: 300px;
    
}

#effectTcmWidget p.resultsSummaryPane {
    max-width: 400px;
    float:left;
    margin-right:1em;
}

#effectTcmWidget {
    overflow:auto; 
    max-height:400px;
    
    /*margin-bottom: 1em;
    margin-right:2px;
    border:double 1px;    
    width: 400px;
    max-width:400px;
    float:left;
    text-align:left;
    position:relative;
    display:inline;
   */
}

/*#trialWidget {
    margin-bottom: 1em;
    border:double 1px;
    padding: 2em;
    text-align: left;
    overflow:auto; 
    max-height:400px;
}*/

/*#geneFinderWidget {
    margin-top: 1em;
    margin-bottom: 1em;    
    border:double 1px;
    padding: 1em;  
    display: inline-table;
    float:left;
}*/

div.gene {
    text-align: left; 
    display: inline;
    padding: 4px;
}

img.herb {
    width: 15%;
    height: 15%;
}

/*#diseaseWidget {
    max-width: 500px;
}

table.diseaseResults {
    max-width: 500px;
}

table.diseaseResults td.diseases{
    max-width: 300px;
}*/

/*    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    float:left;
   display: inline-table;
} */


div.result{    
    padding: 4px;
}