.yui-skin-sam .yui-log {
    width: 60em;
    font-size: 1em;
}
#queryForm {
    text-align: center;
}

#tcmWidget {
    visibility:hidden;
}


#dbpediaHerbWidget {
    margin-top: 1em;
    margin-bottom: 1em;
    border:double 2px;
    padding: 1em;
    display: inline-table;
    width: 35%;
}

#effectTcmWidget {
    margin-top: 1em;
    margin-bottom: 1em;
    border:double 2px;
    padding: 1em;
    display: inline-table;
    width: 30%;
}

#trialWidget {
    margin-top: 1em;
    margin-bottom: 1em;
    border:double 2px;
    padding: 1em;
    display: inline-table;
    
}

#geneFinderWidget {
    margin-top: 1em;
    margin-bottom: 1em;    
    border:double 2px;
    padding: 1em;  
    display: inline-table;
}

div.gene {
    text-align: left; 
    display: inline;
    padding: 4px;
}

img.herb {
    width: 15%;
    height: 15%;
}
#effectTcmWidget resultsPane {
    display: block;
}

#diseaseWidget {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;    
    display: inline-table;
} 

div.disease {
    display: inline-table;
    padding: 3px;
    
}

div.result{
    display: inline;
    padding: 4px;
}