.yui-skin-sam .yui-log {
    width: 60em;
    font-size: 1em;
}
#queryForm {
    text-align: center;
}

#geneFinderWidget {
    margin-top: 1em;
    margin-bottom: 1em;    
    padding: 1em;  
    width: 20%;
    display: inline-table;
}

div.gene {
    text-align: left;   
}

#diseaseWidget {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;    
    display: inline-table;
    width: 70%;
}

div.disease {
    display: inline-table;
    padding: 3px;
    
}

.result {
    display: inline;
    background-color: #eee;
    color:black;
    border-bottom: 1px solid #aaa; 
/*    width: 25%;*/
/*    border: 1px #ddd solid;*/
    margin: 0em 0.5em 0.5em 0;
    padding: 0.5em 0.5em 0 0.5em;
}