.yui-skin-sam .yui-log {width: 60em;}            
.yui-skin-sam .yui-log .info {background-color:#DDD;}
.yui-skin-sam .yui-log .pass {background-color:#A7CC25;}
.yui-skin-sam .yui-log .fail {background-color:#E32F0B;}
